<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Filters & Mixins</h1>

                <!-- Exercises 1,2 and 3 were very easy, for exercise 4
                I had to watch the mixins video again.
                The challenge that I overcome was to know when to use a filter or
                a computed property in future projects -->

                <!-- Exercise 1) -->
                <!-- Build a local Filter which reverses the Text it is applied on -->
                <p> {{ text | toReverse }} </p>
                <!-- Exercise 2 -->
                <!-- Build a global Filter which counts the length of a word and it appends it -->
                <!-- Like this: "Test" => Gets Filtered to => "Test (4)" -->
                <p> {{ anotherText | length }} </p>

                <!-- Exercise 3 -->
                <!-- Do the same as in Exercises 1 & 2, now with Computed Properties -->
                <p> {{ reversed }} </p>
                <p> {{ count }} </p>
                <!-- Exercise 4 -->
                <!-- Share the Computed Property rebuilding Exercise 2 via a Mixin -->

                <!-- Exercise Extra -->
                <input type="text" v-model="extra">
                <p> {{ capitalize }} </p>
            </div>
        </div>
    </div>
</template>

<script>
    import { computedMixin } from './computedMixin.js'
    export default {
      mixins: [ computedMixin ],
      data(){
        return {
          text: 'Lorem ipsum dolor sit amet',
          anotherText: 'Sint saepe laborum nam officia laboriosam sit iusto',
          extra: 'consectetur adipisicing elit'
        }
      },
      filters: {
        toReverse(value){
          return value.split('').reverse().join('')
        }
      },
      computed: {
        count() {
          return this.text + " ("+ this.text.length +")"
        },
        capitalize() {
          return this.extra.toString().charAt(0).toUpperCase()+ this.extra.slice(1)
        }
      },
    }
</script>

<style>
</style>
